{% extends "base.html" %}

{% block title %}
Welcome to the home of everything writting, Ese.
{% endblock %}

{% block body %}

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<br>
<br>
<br>
<section class="mt-4">
	<div class="container">

		<div class="row justify-content-center align-content-center">
			<div class="col-12 col-lg-8 col-md-8 text-left">
				<h1 class="display-3 fw-bold headings">We do..</h1>

                <ul class="text-white listservices">
                    <li><i class="bi bi-check-circle-fill"></i>  Biographies</li>
                    <li><i class="bi bi-check-circle-fill"></i>  Prosopography</li>
                    <li><i class="bi bi-check-circle-fill"></i>  Wedding toasts and love stories</li>
                    <li><i class="bi bi-check-circle-fill"></i>  Literary and graphic documentaries</li>
                    <li><i class="bi bi-check-circle-fill"></i>  Total events planning and programme ordering</li>
                    <li><i class="bi bi-check-circle-fill"></i>  Coporate profiling and logo design</li>
                    <li>Assisted authorship and appraisals for:</li>

                    <ul class="text-white listservices">
                        <li><i class="bi bi-check-circle-fill"></i>  Novels</li>
                        <li><i class="bi bi-check-circle-fill"></i>  Scripting</li>
                        <li><i class="bi bi-check-circle-fill"></i>  Researches</li>
                        <li><i class="bi bi-check-circle-fill"></i>  Reports</li>
                        <li><i class="bi bi-check-circle-fill"></i>  Journals</li>
                        <li><i class="bi bi-check-circle-fill"></i>  Magazines</li>
                    </ul>              
                   
                <ul>
			</div>

			<div class="col-12 col-lg-4 col-md-4 text-center">
				<img src="{{ url_for('static', filename='img/bull.png') }}" class="featurette-image img-fluid mx-auto" width="350" focusable="false">
			</div>
		</div>
	</div>
</section>
<hr>


<!---NXT-->


<section>
    <div>
        <h3 class="display-6 fw-bold headings text-center">Contact Us</h3>

        <div class="container">
            <div class="row justify-content-center align-content-center">
                <div class="col-12 col-md-4 col-lg-4">
                    <p class='fs-5 text-white text-right text-center'><i class="bi bi-envelope-fill"></i> helloeseconsult@gmail.com</p>
                </div>

                <div class="col-12 col-md-4 col-lg-4">
                    <p class='fs-5 text-white text-right text-center'><i class="bi bi-whatsapp"></i> +234 07015614787</p>
                </div>

                <div class="col-12 col-md-4 col-lg-4">
                    <p class='fs-5 text-white text-left text-center'><i class="bi bi-telephone-fill"></i> +234 9060766629</p>
                </div>
            </div>
        </div>     
    </div>
</section>


<!----Next to --->



<section style="margin: 0%;">
    <div class="whitediv">
        <br>
        <div class="container">
            <div class="row justify-content-center align-content-center">

                <div class="col-12 col-md-6 col-lg-6 text-center p-2 my-0">
                    <h3 class="display-6 fw-bold headings2 text-center esecolor">Our mission</h3>
                    <p class='fs-5 text-center esecolor'>To provide you with excellent documentations for heroic values that will stand the test of time.</p>
                </div>

                <div class="col-12 col-md-6 col-lg-6 text-center my-0 p-2">
                    <div style="display: flex; justify-content: center; margin: 0;">
                        <h3 class="display-6 fw-bold headings2 esecolor">Our Vission </h3>
                    </div>   
                    <p class='fs-5 text-center esecolor'>Preserving our values in writing for future generations yet unborn. </p>
                </div>              

            </div>
        </div>     
    </div>
</section>


<section style="margin: 0%;">
    <div class="whitediv" style="padding: 0px;">
        <br>
        <div class="container">
        
            <div class="row justify-content-center align-content-center">
                <h3 class="display-6 fw-bold headings2 esecolor text-center">We are </h3>
                <p class="font-italic esecolor mb-2 text-center">A group of creative writers and advertisers who have experiences in the global business perspective of turning ideas into reality through social and corporate rebranding by properly reporting events for the purpose of documentation and presentation.Our personnel include the following:</p>

                <div class="col-12 col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-2 rounded">
                    <div class="card-body p-0">
                        <img src="{{ url_for('static', filename='img/aboutus2.jpg') }}" alt="" class="w-100 card-img-top">

                    <div class="p-4">
                        <h5 class="mb-0">Kingsley Essien</h5>
                        <p class="small text-muted">CEO - Managing Editor</p>
                        <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <br>
                        <p class="btn btn-md esecolorbck text-white text-center">Full Profile</p>
                    </div>
                    </div>
                </div>
                </div>
            
                <div class="col-12 col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-2 rounded">
                    <div class="card-body p-0"><img src="{{ url_for('static', filename='img/aboutus2.jpg') }}" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Binta Sanni Ph.D</h5>
                        <p class="small text-muted">Advisory Editor</p>
                        <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <br>
                        <p class="btn btn-md esecolorbck text-white text-center">Full Profile</p>
                    </div>
                    </div>
                </div>
                </div>
            
                <div class="col-12 col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-2 rounded">
                    <div class="card-body p-0"><img src="{{ url_for('static', filename='img/aboutus2.jpg') }}" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Dunsin Ajayi</h5>
                        <p class="small text-muted">Visiting Editor</p>
                        <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <br>
                        <p class="btn btn-md esecolorbck text-white text-center">Full Profile</p>
                    </div>
                    </div>
                </div>

                </div>
            
                <div class="col-12 col-lg-4 col-md-6 mb-4 mt-3 mb-lg-0">
                <!-- Card-->
                    <div class="card shadow-sm border-2 rounded">
                        <div class="card-body p-0"><img src="{{ url_for('static', filename='img/aboutus2.jpg') }}" alt="" class="w-100 card-img-top">
                            <div class="p-4">
                                <h5 class="mb-0">Mr. Aniekan Udoh </h5>
                                <p class="small text-muted">Administrator</p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <br>
                                <p class="btn btn-md esecolorbck text-white text-center">Full Profile</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-md-6 mb-4 mt-3 mb-lg-0">
                    <!-- Card-->
                    <div class="card shadow-sm border-2 rounded">
                        <div class="card-body p-0"><img src="{{ url_for('static', filename='img/aboutus2.jpg') }}" alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0">Ini-abasi Etim</h5>
                            <p class="small text-muted">Technical officer</p>
                            <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <br>
                            <p class="btn btn-md esecolorbck text-white text-center">Full Profile</p>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <br>

        </div>     
    </div>
</section>




<section>
    <div>
        <br>
        <h3 class="display-6 fw-bold headings text-center">What our clients say</h3>
        <br>
        <br>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            {% for review in client_reviews %}

            <div class="col-12 col-lg-3 col-md-6 m-1">
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon eseredback shadow-sm text-white">
                        <i class="bi bi-chat-left-quote-fill"></i>
                    </div>
                    <p class="mb-0 mt-2 textit">"{{ review.client_review }}"</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                        <cite title="Source Title">{{ review.client_name }}</cite>
                    </footer>
                </blockquote>
            </div>

            {% endfor %}
        </div>
    </div>   
</section>
<hr>



{% endblock %}