{% extends "admin_panel.html" %}


{% block title %}
Add a FAQ
{% endblock %}

{% block action %}
Add a Frequently asked question
{% endblock %}


{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">
            <div>

                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                
                        <div class="form-floating">
                            {% if form.question.errors %}
                              {{ form.question(class="form-control is-invalid") }}
                              <div class='invalid-feedback'>
                                {% for error in form.question.errors %}
                                  <span>{{ error }}</span>
                                {% endfor %}
                              </div>
                
                            {% else %}
                               {{ form.question(class="form-control") }}
                            {% endif %}
                
                            <label for="email">{{ form.question.label }}</label>  
                        </div>

                        <br>
                        <div class="form-floating">
                            {% if form.answer.errors %}
                              {{ form.answer(class="form-control is-invalid") }}
                              <div class='invalid-feedback'>
                                {% for error in form.answer.errors %}
                                  <span>{{ error }}</span>
                                {% endfor %}
                              </div>
                
                            {% else %}
                               {{ form.answer(class="form-control") }}
                            {% endif %}
                
                            <label for="email">{{ form.answer.label }}</label>   
                        </div>  

                    <br>
                
                    {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
                    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}