{% extends "base.html" %}

{% block title %}
Our team
{% endblock %}


{% block body %}

<style>
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    }
</style>
    
<br>
<br>
<br>

<section style="margin: 0%;">
    <br>
    <div class="container">
    
        <div class="row justify-content-center align-content-center">
            <h3 class="display-6 fw-bold headings text-center">We are </h3>
            <p class="font-italic mb-2 text-center text-white fs-5">A group of creative writers and advertisers who have experiences in the global business perspective of turning ideas into reality through social and corporate rebranding by properly reporting events for the purpose of documentation and presentation.Our personnel include the following:</p>

            <div class="col-12 col-lg-4 col-md-6 mb-3 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-2 rounded">
                <div class="card-body p-0">
                    <img src="{{ url_for('static', filename='img/aboutus2.jpg') }}" alt="" class="w-100 card-img-top">

                <div class="p-4">
                    <h5 class="mb-0">Kingsley Essien</h5>
                    <p class="small text-muted">CEO - Managing Editor</p>
                    <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-whatsapp"></i></a></li>
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                    </ul>
                    <br>
                    <p class="btn btn-md esecolorbck text-white text-center">Full Profile</p>
                </div>
                </div>
            </div>
            </div>
        
            <div class="col-12 col-lg-4 col-md-6 mb-3 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-2 rounded">
                <div class="card-body p-0"><img src="{{ url_for('static', filename='img/aboutus2.jpg') }}" alt="" class="w-100 card-img-top">
                <div class="p-4">
                    <h5 class="mb-0">Binta Sanni Ph.D</h5>
                    <p class="small text-muted">Advisory Editor</p>
                    <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-whatsapp"></i></a></li>
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                    </ul>
                    <br>
                    <p class="btn btn-md esecolorbck text-white text-center">Full Profile</p>
                </div>
                </div>
            </div>
            </div>
        
            <div class="col-12 col-lg-4 col-md-6 mb-3 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-2 rounded">
                <div class="card-body p-0"><img src="{{ url_for('static', filename='img/aboutus2.jpg') }}" alt="" class="w-100 card-img-top">
                <div class="p-4">
                    <h5 class="mb-0">Dunsin Ajayi</h5>
                    <p class="small text-muted">Visiting Editor</p>
                    <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-whatsapp"></i></a></li>
                    <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                    </ul>
                    <br>
                    <p class="btn btn-md esecolorbck text-white text-center">Full Profile</p>
                </div>
                </div>
            </div>

            </div>
        
            <div class="col-12 col-lg-4 col-md-6 mb-3 mt-3 mb-lg-0">
            <!-- Card-->
                <div class="card shadow-sm border-2 rounded">
                    <div class="card-body p-0"><img src="{{ url_for('static', filename='img/aboutus2.jpg') }}" alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0">Mr. Aniekan Udoh </h5>
                            <p class="small text-muted">Administrator</p>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-whatsapp"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                            <br>
                            <p class="btn btn-md esecolorbck text-white text-center">Full Profile</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 col-md-6 mb-3 mt-3 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-2 rounded">
                    <div class="card-body p-0"><img src="{{ url_for('static', filename='img/aboutus2.jpg') }}" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Ini-abasi Etim</h5>
                        <p class="small text-muted">Technical officer</p>
                        <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-whatsapp"></i></a></li>
                        <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                        <br>
                        <p class="btn btn-md esecolorbck text-white text-center">Full Profile</p>
                    </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>

    </div>     

</section>

{% endblock %}
