{% extends "base.html" %}

{% block title %}
Welcome to the home of everything writting, Ese.
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>

<section>
    <div class="container">
        <div class="row justify-content-center">

            {% for project in projects %}
            <div class="col-12 col-lg-5 col-md-6 mb-2">
                
                <div class="card">
                    <div class="card-body">
                        <div style="line-height: 1.5;">
                            <p class="esecolor card-title"><b><i>Project name:</i></b> {{ project.project_name }}</p>
                            <p class="esecolor card-title"><b><i>Project description: </i></b>{{ project.project_description }}</p>
                            <p class="esecolor card-title"><b><i>Client name: </i></b>{{ project.client_name }}</p>
                            <p class="esecolor card-title"><b><i>Project description: </i></b>{{ project.client_review }}</p>
                        </div>
                    </div>
                </div>
                
            </div>
            {% endfor %}

        </div>
    </div>
</section>




{% endblock %}