{% extends "admin_panel.html" %}

{% block title %}
Read or delete FAQ
{% endblock %}

{% block action %}
Read or delete FAQ
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">

        {% for faq in faqs %}
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="text-left">
                        <div class="p-1 m-2">
                            <p class="card-text mb-0"><i>Question:</i> {{ faq.question }}</p>
                            <p class="card-text"><i>Answer:</i> {{ faq.answer }}</p>
                            <a href="{{ url_for('delete_faq', faq_id=faq.id) }}" class="text-white btn btn-md btn-danger m-1">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>
{% endblock %}