{% extends "base.html" %}

{% block title %}
Subscribe to our newsletters
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<div class="container mt-4" style="height: 80%;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">

          {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}

          {% endwith %}
            <div>
                    <p class="fs-4 text-white">Kindly enter your email</p>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                
                        <div class="form-floating">
                
                            {% if form.email.errors %}
                              {{ form.email(class="form-control is-invalid") }}
                              <div class='invalid-feedback'>
                                {% for error in form.email.errors %}
                                  <span>{{ error }}</span>
                                {% endfor %}
                              </div>
                
                            {% else %}
                               {{ form.email(class="form-control") }}
                            {% endif %}
                
                            <label for="email">{{ form.email.label }}</label>
                            
                        </div>
                        <br>           
                    <br>
                
                    {{ form.submit(class="w-100 btn btn-lg eseredback text-white") }}
                    <p class="mt-5 mb-3 text-white">&copy; Ese Consult 2022</p>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}