{% extends "admin_panel.html" %}


{% block title %}
Test Upload
{% endblock %}

{% block action %}
Test Upload
{% endblock %}


{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">
            <div>

                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                
                        <div class="form-floating">
                
                            {% if form.photo.errors %}
                              {{ form.photo(class="form-control is-invalid") }}
                              <div class='invalid-feedback'>
                                {% for error in form.photo.errors %}
                                  <span>{{ error }}</span>
                                {% endfor %}
                              </div>
                
                            {% else %}
                               {{ form.photo(class="form-control") }}
                            {% endif %}
                
                            <label for="email">{{ form.photo.label }}</label>
                            
                        </div>
                        <br>           
                        <br>
                
                    {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
                    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}